<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277402526591-jfgnv128rlqv2bg02mtpb6qretnmm57r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277402526591-jfgnv128rlqv2bg02mtpb6qretnmm57r</string>
	<key>API_KEY</key>
	<string>AIzaSyBXLPK8rzrBVYLxYtP0ihfUKh1MpJ8PXeg</string>
	<key>GCM_SENDER_ID</key>
	<string>277402526591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adam.elteLearn</string>
	<key>PROJECT_ID</key>
	<string>eltelearn</string>
	<key>STORAGE_BUCKET</key>
	<string>eltelearn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277402526591:ios:5df758ce6c8035fcde704a</string>
</dict>
</plist>